

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="intro-text">
          <div class="intro-lead-in">I/O Avenue Pitch Night!</div>
          <div class="intro-heading text-uppercase">Come out and celebrate with us!</div></br></br>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Purchase Tickets</a></br></br>
        </div>
        <h4 class="section-heading text-uppercase">Details:</h4>
      </br>
        <h4 class="section-subheading text-muted">I/O Avenue 2018 spring Cohort will be displaying their creations for all to see!</h4>
      </div>
    </div>
    <div class="row text-center">
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
           <i class="fa fa-circle fa-stack-2x text-primary"></i>
           <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
         </span>
         <h4 class="service-heading">April 27, 2018</h4>
         <p class="text-muted">Event begins at 6:00 PM.</p>
       </div>
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
           <i class="fa fa-circle fa-stack-2x text-primary"></i>
           <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
         </span>
         <h4 class="service-heading">FL A&M</h4>
         <p class="text-muted">The center.</p>
       </div>
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
           <i class="fa fa-circle fa-stack-2x text-primary"></i>
           <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
         </span>
         <h4 class="service-heading">Free</h4>
         <p class="text-muted">Free admission for all who come.</p>
       </div>
     </div>
   </div>
 </section>
