// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.masthead {
  height: 100%;
}
#services {
  background-image: url(header-bg.jpg);
  background-position: center;
  background-size: cover;
}

.intro-lead-in {
  color: rgb(245, 214, 5);
  font-size: 30px;
}

.intro-heading {
font-family: Arial, sans-serif; /* your font family here! */
font-weight: bold;
color: #ffffff;
font-style: normal;
font-size: 15px;
}

.f-circle {
font-family: Arial; /* your font family here! */
font-weight: bold;
display: block;
border: 1px solid #860000;
border-radius: 999px;
padding: 10px 20rgb(255, 255, 255)px;
}

h4 {
  color: #f7f5f5;
}
