// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team-member {
  position: center;
}

h2 {
  color: #ecce08 !important;
}
h3, h4 {
  color: #080807 !important;
  text-shadow: #c7a512 !important;

}
